header{
    background-color: #00BE64;

    height: 80px;
    display: flex;
}

#KM18{
    width: 70px;
    height: 70px;

    position: relative;
    top: 5px;
    left: 5px;
}

#title{
    color: white;
    font-size: 47px;
    font-weight: 800;
    position: relative;
    top: 2.5px;
    left: 10px;
}

body{
    font-size: 120%;
}

#banner{
    width: 400px;
    height: 225px;
}